
*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    position: relative;
    background-size: max(1200px, 100vw);
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.54;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100px;
}
nav img{
    position: relative;
    width: 130px;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.content{
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 23px;
    height: calc(100% - 100px);
    padding: 0 30px;
}
.content> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.content> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.content> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
/* .separation{
    background-color: rgb(38, 38, 38);
    height: 7px;
    position: relative;
    z-index: 20;
} */
